/* The modal wrapper: absolute positioning;
   100% of the browser window height and width.*/

  .Overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #888;
  animation: show 0.7s ease;
}
   
/* The modal window: a empty div; vertical and horizontal cenetered.*/
.Modal {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #fff;
  z-index: 9999;
} 

 @media screen and (min-width: 900px) {

  .Modal {
    top: 10%;
    left: 20%;
    right: 20%;
    bottom: 10%;
  }
} 

.info-box {
  padding: 2% 5% 3% 3%;
}

.info-box > .title {
  font-size: 2em;
  line-height: 1.8em;
  font-weight: 800;
  color: #000;
}

.info-box > .blurb {
  font-size: 1em;
  font-weight: 700;
  line-height: 1em;
  color: #909090;
  padding-bottom: 4%;
}

.info-box > .detail {
  font-size: 0.8em;
  line-height: 1.4em;
}

.modal-link-btn {
  padding: 1%;
  border-radius: 10px;
  background-color: #df1862;
  color: #FFF;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #000, 3px 3px 3px #666;
  justify-content: center;
  text-decoration: none;
  position: absolute; 
  bottom: 2%;
  left: 2%;
}

/* The close button: absolute positioning on bottom right of the
// browser window; white background square with a gray X.*/
.close-modal-btn {
  position: absolute;
  bottom: 2%;
  right: 2%;
  background: #fff;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 15px;
  padding: 2px;
  border: 0;
  cursor: pointer;
  outline: 0;
}

.close-modal-btn::before .close-modal-btn::after {
  content: "";
  position: absolute;
  bottom: 1.2rem;
  left: 0.25rem;
  width: 2rem;
  height: 0.1rem;
} 

.close-modal-btn::before { transform: rotate(45deg) }
.close-modal-btn::after { transform: rotate(-45deg) }

/* Fade-in open animation*/
@keyframes show {
  0% {
    display: none;
    opacity: 0;
  };
  1% {
    display: flex;
    opacity: 0;
  };
  100% {
    opacity: 1;
  };
};