.slider-container {
  max-height: 30vmax;

}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.item {
  background: darkorange;
  text-align: center;
  padding: 50px;
  color: white;
}

.carousel-container {
  position: relative;
  display: flex;
  margin: 0 0;
}

.modal-slider-btn {
  position: absolute;
  bottom: 0;
  height: 10%;
  width: 10%;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 25px;
  padding: 0;
  opacity: 1;
  color: #fff;
  background-color: #222;
}