.hero {
  display: flex;
  border: 1px solid red;
  background-color: #21252e;
  color: white;
  min-height: 90vh;
}
.name {
  line-height: 2em;
  box-sizing: border-box;
  padding: 1% 0.5% 1% 1%;
  color: #df1862;
  text-shadow: 1px 1px 1px #000, 2px 3px 2px #f4f8dd, 3px 3px 6px #000;
  display: inline-block;
}
.wrapper {
  display: flex;
  width: 100%;
}
.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
