section:nth-of-type(2) .bars-wrap {

    margin: 50px auto 0 auto;
    width: calc(100% - 15px);
    max-width: 90%;
  }

.label-wrap > div {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 7.5%;
  justify-content: flex-start;
}

.bullet-wrap {
  height: 230px;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

.row-gt-sm > div.flex.bullet-wrap {
  justify-content: flex-start;
}

@media screen and (min-width: 960px) {

  .row-gt-sm {
    flex-direction: row;
  }

  .bullet-text {
    font-size: 11pt;
  }

  section {
    padding: 100px 0 130px 0;
  }
}

.bullet-text {
  margin-top: 4%;
  font-size: 8pt;
}


.bullet-text > .label {
  font-weight: 500;
  font-size: 1.7em;
  margin: 15px 0 5px 0;
}

div.bullet-text > div.description {
  color: #616161;
  line-height: 1.3em;
}

.hex-wrap {
  width: 100px;
  height: 100px;
}

.hexagon {
  position: relative;
  width: 100px;
  height: 57.80px;
  background-color: #695481;
  margin: 28.87px auto;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  z-index: -1;
}

.hexagon::before {
  bottom: 100%;
  left: 0;
  border-bottom: 28.87px solid #695481;
}

.hexagon::after {
  top: 100%;
  right: 0;
  border-top: 28.87px solid #695481;
}

.speedometer, .tablet, .thumbsup, .magic {
  font-size: 0.5em;
  color: white;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-20deg);
  }
  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateY(5deg);
  }
  100% {
    transform: perspective(400px);
    opacity: 1;
  }
}

.waypoint {
  opacity: 0;
}

.skills-wrapper {
  width: 100%;
  margin: 50px 0 0 0;
  align-items: flex-start;
}

.flex-50-gt-sm {
  flex: 1 1 50%;
  max-height: 100%;
  box-sizing: border-box;
  display: block;
}

@media screen and (min-width: 600) {

  .flex-50-gt-sm {
    max-width: 50%;
  }
}

.skills-wrapper > .flex:first-child {
  padding: 0 50px 0 50px;
}

.bio {
  min-width: 250px;
}

.me {
  height: 250px;
}

@media screen and (min-width: 960px) {
  .me {
    height: 300px;
  }
}

.fade-in {
  animation: fadeIn .75s ease both;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.bars-wrap {
  margin: 0 0 0 0;
  width: calc(100% - 15px);
  max-width: 90%;
}

.bars-wrap > .animated {
  width: 100%;
}

.bar {
  height: 33px;
  width: 100%;
  margin: 0 0 15px 0;
  font-size: 11pt;
  position: relative;
  align-items: flex-end;

}

.bar.flex {
  align-items: flex-end;
  background-color: #eee;
}

.bar.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  background-color: #F9CFBA;
  padding: 0;
  opacity: 1;
}

.bar .tag {
  width: 110px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #F9d9b1;
}

.bar.flex > span {
  display: flex;
  z-index: 1;
  padding: 0 15px 0 0;
  color: #666;
}
