ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
}

.slider {
  height: 100%;
  display: inline-block;
  margin: 2%;
  padding: 2%;
}


.slider-wrapper {
  height: 100%;
}

.slides {
  display: inline-block;
  width: 50%;
  height: 50%;
}

/* .arrow:hover {
  opacity: 0.5;
}

.arrow:focus {
  outline: 0;
} */

.slider-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;

}