ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 25em;
  border: 2px solid black;
}

.slider {
  height: 100%;
  position: relative;
  min-height: 200px;
  margin: 2%;
  padding: 2%;
}

.title {
  margin: 2%;
  margin-bottom: 5%;
  text-decoration: underline;
}

/* .arrow:hover {
  opacity: 0.5;
}

.arrow:focus {
  outline: 0;
} */

.slider-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}