ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slider-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  padding: 4% 2% 4% 2%;
  border: 2px solid #857698;
}

.slider {
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: 2%;
  padding: 2%;
}

.slide-list {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.slider-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}

.indicator-wrap {
  width: 100%;
  display: block;
}