.slider-indicator {
  display: block;
  width: 25px;
  height: 3px;
  padding: 10%;
  margin-left: 9px;
  background-color: #857698;
  cursor: pointer;
  opacity: 0.15;
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
}

.slider-indicator-active {
  opacity: 1;
}