.arrow-container {
  height: 100%;
  width: 4%;
  margin: 0 1%;
}

.slider-arrow {
  height: 100%;
  cursor: pointer;
  opacity: .4;  
}

.slider-arrow:hover {
  opacity: 1;
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
  border: 0.5px solid grey;
  box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
}

.bounce-left {
  -moz-animation: bounce-left 2s infinite;
  -webkit-animation: bounce-left 2s infinite;
  animation: bounce-left 2s infinite;
}
.bounce-right {
  -moz-animation: bounce-right 2s infinite;
  -webkit-animation: bounce-right 2s infinite;
  animation: bounce-right 2s infinite;
}

@keyframes bounce-left {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-8px);
  }
  60% {
    transform: translateX(-8px);
  }
}
@keyframes bounce-right {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(8px);
  }
  60% {
    transform: translateX(8px);
  }
}
