ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#projects-section {
  background-color: #f5f5f5;
}

.slick-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slick-list {

}

.slick-slide {

}

div.slick-slider > div.slick-arrow {
  display: block;
  top: 0;
  height: 100%;
  width: 4vw;
  cursor: pointer;
  font-size: 25em;
  padding: 1%;
  z-index: 99;
  background-color: transparent;
}

div.slick-slider > div.slick-arrow::before {
  color: #888;
  font-size: 40px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
}

div.slick-slider > .slick-prev {
  left: 2%;
  -moz-animation: bounce-left 2s infinite;
  -webkit-animation: bounce-left 2s infinite;
  animation: bounce-left 2s infinite;
}

div.slick-slider > .slick-next {
  right: 6%;
  -moz-animation: bounce-right 2s infinite;
  -webkit-animation: bounce-right 2s infinite;
  animation: bounce-right 2s infinite;
}

.slick-dots {
  font-size: 20px;
}

.slider-wrapper {
  width: 100vw;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  div.slick-slider > .slick-next {
    right: 2%;
  }
}

@media screen and (min-width: 900px) {

  div.slick-slider > div.slick-arrow {
    /* background-color: #07BAC2; */
  }

  .slider-wrapper {
    width: 85vw;
    max-width: 1600px;
  }
}

.slider-container {
  display: flex;
  margin: 0;
  position: relative;
}

.slide-wrapper {
  width: 100%;
}

.slider-wrapper > div:first-child {
  margin-right: 2px;
}

.slider-wrapper > div:last-child {
  margin-left: 2px;
}

.slide-list {
  margin-top: 5%;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  border: 2px solid #07BAC2;
  position: relative;
}

.slider-indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}

.indicator-wrap {
  width: 100%;
  display: block;
}

.project-swipeable {
  width: 100%;
  position: relative;
  display: flex;
}

.bounce-left {
  -moz-animation: bounce-left 2s infinite;
  -webkit-animation: bounce-left 2s infinite;
  animation: bounce-left 2s infinite;
}

.bounce-right {
  -moz-animation: bounce-right 2s infinite;
  -webkit-animation: bounce-right 2s infinite;
  animation: bounce-right 2s infinite;
}

@keyframes bounce-left {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(-5px);
  }
}
@keyframes bounce-right {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(5px);
  }
}


/*
{// className="project-swipeable"
  // onSwipingRight={ (e) => this.goToPrevSlide(e)}
  // onSwipingLeft={ (e) => this.goToNextSlide(e)}
  // onTap={ (e) => toggleModal(e)}}



    enableMouseEvents={true}
  children={projectSlides}
  index={1}
  onChangeIndex={updateModal}
  // onSwitching={updateModal}
  */