.arrow-container {
  height: 50vh;
  width: 5vw;
  color: #07BAC2;
  position: absolute;
  opacity: 0;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 900px) {

  .arrow-container {
    opacity: 1;
  }
}

.slider-btn {
  height: 100%;
  width: 7vw;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 25px;
  padding: 0;
  opacity: 0;
  background-color: #07BAC2;
  z-index: 99;
  position: absolute;
}

.right {
  right: 0;
}

.left {
  left: 0;
}

.slider-btn > i.fa {
  color: #FFF;
}

@media screen and (min-width: 900px) {

  .slider-btn {
    opacity: 1;  
  }
  
  .slider-btn:hover {
    transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
    border: 0.5px solid grey;
    box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3);
  }
  
  .slider-btn:hover > i.fa {
    color: #857698;
  }
}

.bounce-left {
  -moz-animation: bounce-left 2s infinite;
  -webkit-animation: bounce-left 2s infinite;
  animation: bounce-left 2s infinite;
}

.bounce-right {
  -moz-animation: bounce-right 2s infinite;
  -webkit-animation: bounce-right 2s infinite;
  animation: bounce-right 2s infinite;
}

@keyframes bounce-left {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(-5px);
  }
}
@keyframes bounce-right {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(5px);
  }
}
