.slide {
  height: 100%;
  width: 100%;
  list-style-type: none;
  text-align: center;
  position: relative;
  box-shadow: 0 0 1rem rgba(0,0,0,.6);
  z-index: -1;
}

.slide-active {
  display: block;
}

/* .slide-active:hover {
  opacity: 0;
} */

.slide-hide {
  display: none;
}

.slide-pic {
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  transition: all 0.5s;
}

/* .card:hover {
  opacity: 0;
} */

.card-text {
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #07BAC2;
  color: #fff;
  text-shadow: 1px 1px 1px #000, 3px 3px 3px #666;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}

/* .card:hover .card-text {
  opacity: 1;
  top: 24%;
}

.card:hover .card-button {
  opacity: 1;
  bottom: 24%;
  transition: all 0.5s;
} */

@media screen and (min-width: 600px) {

  #gallery .card-text .title {
    font-size: 2.8em;
  }
}

.card-text div {
  margin: 1% 0;
}

.card-text .bold {
  font-size: 1.8em;
}

.card-button {
  font-size: 2em;
  opacity: 0;
}

/* .card-button:hover {
  background-color: #07BAC2;
  color: #fff
} */

.blurb {
  font-size: 0.8em;
  font-weight: 100;
  font-style: italic;
}

@media screen and (min-width: 600px) {

  a.card-button {
    font-size: 1em;
  }

  /* #gallery:hover .card-text {
    top: 24%;
    opacity: 1;
  }

  #gallery:hover .card-button {
    bottom: 24%;
    opacity: 1;
    cursor: pointer;
  }

  #gallery:hover .card {
    opacity: 0;
  } */
}

@media screen and (min-width: 900px) {

  button.card-button {
    background-color: transparent;
  }

  button.card-button:hover {
    background-color: #07BAC2;
    color: #fff;
  }


}
