.slider-indicator {
  display: block;
  width: 25px;
  height: 3px;
  padding: 10%;
  margin-left: 9px;
  background-color: #CBEAEE;
  cursor: pointer;
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
}

.slider-indicator-active {
  background-color: #07BAC2;
}