.slide {
  height: 100%;
  width: 100%;
  max-width: 900px;
  list-style-type: none;
  text-align: center;
  position: relative;
  box-shadow: 0 0 1rem rgba(0,0,0,.6);
}

.slide-active {
  display: block;
}

.slide-hide {
  display: none;
}

.slide-pic {
  height: 100%;
  width: 100%;
}

.card {
  height: 100%;
  transition: all 0.5s;
}

#gallery .card-text {
  width: 100%;
  height: 30%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #f2f7d8;
  border-top: 2px solid #857698;
  border-bottom: 2px solid #857698;
  color: #fff;
  text-shadow: 1px 1px 1px #000, 3px 3px 3px #666;
  text-align: center;
  position: absolute;
  transition: all 0.5s;
}

@media screen and (min-width: 600px) {
  #gallery .card-text .title {
    font-size: 2.8em;
  }
}

.card-text div {
  margin: 1% 0;
}

.card-text .bold {
  font-size: 1.8em;
}

.blurb {
  font-size: 0.8em;
  font-weight: 100;
  font-style: italic;
}

.card-button {

}

@media screen and (min-width: 600px) {

  a.card-button {
    font-size: 1em;
  }
}

@media screen and (min-width: 900px) {

  a.card-button {
    background-color: transparent;
    color: #666;
  }

  a.card-button:hover {
    bottom: 24%;
    background-color: #857698;
    color: #FFF;
  }
}
